<div class="container">
    <h4>Cadastro de Categoria</h4>
    <form [formGroup]="meuForm" (submit)="cadastrar($event)" class="row">

        <label>Descrição</label>
        <input name="descricao" formControlName="descricao" [(ngModel)]="categoria.descricao" class="form-control" autocomplete="off" #input (input)="input.value = $event.target.value.toUpperCase()">

        <div *ngIf="!meuForm.controls.descricao.valid">
            <span *ngIf="meuForm.controls.descricao.errors.required" class="form-control alert-danger">
                Descrição é obrigatória
            </span>
        </div>

        <input name="desabilitado" formControlName="desabilitado" [(ngModel)]="categoria.desabilitado" type="checkbox" class="filled-in" autocomplete="off">
        <label>Desabilitado</label>
        <br>

        <botao nome="Salvar" tipo="submit" estilo="btn-primary" [desabilitado]="!meuForm.valid">
        </botao>
        <a [routerLink]="['/categoria']" class="btn btn-primary">Voltar</a>
    </form>

</div>